 
@font-face{
  font-family: Simple-Line-Icons;
  src: url(../fonts/Simple-Line-Icons.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: PSL-Extra;
  src: url(../fonts/PSL-Kanda-Modern-Extra.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Bebas_Regular;
  src: url(../fonts/Bebas_Regular.otf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: PSL-Omyim;
  src: url(../fonts/PSL-Omyim.ttf);
  font-style: normal;
  font-variant:initial;
}

 
/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-pad-r{
  padding: 0px 5px 0px 0px !important;
} 
.none-pad-l{
  padding: 0px 0px 0px 5px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 

.dropdown:hover>.dropdown-menu {
  display: block;
}
 
.navbar-toggler-left .fa-bars{
  color: #fff !important;
}
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }   
  .menu{
    display: none;
  }
  .menu{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1030;
    background-color: #fff;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  } 

}

a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/ 

body.bg-01{
  background-color: #141416;
}
.navbar .navbar-collapse .navbar-nav .nav-item{ 
  padding-left: 20px;
  padding-right: 20px;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
  color: #555556;
  font-family: PSL-Extra;
  font-size: 26px; 
}
.navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link{
  background: -webkit-linear-gradient(#e1d5ba, #ac8e3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
  background: -webkit-linear-gradient(#e1d5ba, #ac8e3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .navbar-collapse .navbar-nav .nav-item p{
  font-family: PSL-Extra;
  background-color: #ff0000;  
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 0px 7px;
  color: #fff !important;
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  margin-left: 65px; 
}
.itemz{
  font-family: PSL-Extra;
  color: #fff;
  font-size: 22px;
  line-height: 55px;
}
.itemz:hover{ 
  color: #fff; 
}
.userpicM span{
  font-family: PSL-Extra;
  color: #fff;
  font-size: 22px;
  line-height: 55px;
  padding-left: 50px;
}
.sp-img{
  color: #fdda2c;
}
.sp-img2{
  color: #25dffe;
}
.userpicM img{
  width: 40px;
  height: 40px;
  border: 2px solid #2ab214;
  border-radius: 100%;
  margin-top: 5px;
  position: absolute;
  z-index: 9;
}
.userpicM:before{
  content: "";
  background-image: url(../images/vip-mini.png); 
  position: absolute;
  width: 28px;
  height: 20px;
  margin-left: 12px;
  z-index: 10; 
}
.btn-logout div{
  background-image: url(../images/btn-logout.png); 
  background-size: 182px 51px;
  width: 182px;
  height: 51px;
  background-position: center;
  color: #331907;
  font-family: PSL-Extra;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  position: absolute;
  right: 0;
}
.carousel-indicators{
  margin-bottom: -20px;
}
.carousel-indicators .active {
  width: 60px;
}
.top-win-box{
  background-color: #1d1d1f;
  min-height: 400px;
  padding: 15px 15px 3px;
}
.top-win-box ul{
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.top-win-box ul li{ 
  background-color: #292827);
  margin-bottom: 10px;
}
.top-win-box ul li:nth-child(1){
  background-image: linear-gradient(to right, #353023, #352923, #2e2425, #252124, #1d1d1f);
  font-family: Bebas_Regular;
  text-transform: uppercase;
  color: #fff;
  font-size: 28px;
  padding: 0px  10px !important;
  height: 38px !important;
  line-height: 0px !important;
  border-radius: 0px !important;
}
.top-win-box ul li:nth-child(1) span.t1{
  background: -webkit-linear-gradient(#e4d7b2, #cc9c34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-win-box ul li:nth-child(-n+5){
  padding: 10px 15px !important; 
  background-color: #33312a;
  line-height: 40px;
  height: 65px;
  border-radius: 4px;
}
.top-win-box ul li:nth-child(-n+5) img.k{  
  height: 45px;
  width: 45px;
  border: 2px solid #ffcc46;
  border-radius: 100%;
  float: left;
}

.top-win-box ul li:nth-child(-n+5) img.n{ 
  height: 45px;
  width: 45px;
  border: 2px solid #9c9480;
  border-radius: 100%;
  float: left;
}
.top-win-box ul li:nth-child(-n+5) p{ 
  float: left;
  font-family: PSL-Extra;
  color: #fff;
  font-size: 20px;
  padding-left: 15px;
}

.top-win-box ul li:nth-child(-n+5) p.p1{ 
  float: right;
  font-family: PSL-Extra;
  color: #fff;
  font-size: 20px;
  padding-left: 15px;
  margin-right: 15px;
}
.top-win-box ul li:nth-child(-n+5) p.p2{ 
  float: right;
  font-family: PSL-Extra;
  color: #fdda2c;
  font-size: 20px;
  padding-left: 15px;
  margin-right: 15px;
}
.top-win-box ul li:nth-child(-n+5) p.p1 span{  
  font-family: PSL-Extra;
  color: #25dffe;
}
.top-win-box ul li:nth-child(-n+5) p.p2 span{  
  font-family: PSL-Extra;
  color: #fdda2c;
}
.top-win-box ul li:nth-child(-n+5) p.d1{ 
  float: right;
  font-family: PSL-Extra;
  color: #508481;
  font-size: 14px;
  padding-left: 15px;
  position: absolute;
  right: 0;
  margin-right: 45px;
  margin-top: -14px;
}
.top-win-box ul li:nth-child(-n+5) p.d2{ 
  float: right;
  font-family: PSL-Extra;
  color: #776613;
  font-size: 14px;
  padding-left: 15px;
  position: absolute;
  right: 0;
  margin-right: 45px;
  margin-top: -14px;
}
.top:after{
  font-family: PSL-Extra;
  position: absolute;
  right: 0;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
  text-align: center;  
  line-height: 22px;
  margin-top: 12px;
}
.top.top1:after{
  background-color: #98844e;
  content: "1";
}
.top.top2:after{
  background-color: #9c9480;
  content: "2";
}
.top.top3:after{
  background-color: #555145;
  content: "3";
}
.top.top4:after{
  background-color: #555145;
  content: "4";
}


.top-win-box ul li:nth-child(n+6){
  padding: 10px 15px !important; 
  background-color: #33312a;
  line-height: 25px;
  height: 50px;
  border-radius: 4px;
}
 

.top-win-box ul li:nth-child(n+6) img.n{ 
  height: 30px;
  width: 30px;
  border: 2px solid #9c9480;
  border-radius: 100%;
  float: left;
}
.top-win-box ul li:nth-child(n+6) p{ 
  float: left;
  font-family: PSL-Extra;
  color: #fff;
  font-size: 20px;
  padding-left: 15px;
}

.top-win-box ul li:nth-child(n+6) p.p1{ 
  float: right;
  font-family: PSL-Extra;
  color: #fff;
  font-size: 20px;
  padding-left: 15px;
  margin-right: 15px;
}
.top-win-box ul li:nth-child(n+6) p.p2{ 
  float: right;
  font-family: PSL-Extra;
  color: #fdda2c;
  font-size: 20px;
  padding-left: 15px;
  margin-right: 15px;
}
.top-win-box ul li:nth-child(n+6) p.p1 span{  
  font-family: PSL-Extra;
  color: #25dffe;
}
.top-win-box ul li:nth-child(n+6) p.p2 span{  
  font-family: PSL-Extra;
  color: #fdda2c;
}
.top-win-box ul li:nth-child(n+6) p.d1{ 
  float: right;
  font-family: PSL-Extra;
  color: #508481;
  font-size: 14px;
  padding-left: 15px;
  position: absolute;
  right: 0;
  margin-right: 45px;
  margin-top: -14px;
}
.top-win-box ul li:nth-child(n+6) p.d2{ 
  float: right;
  font-family: PSL-Extra;
  color: #776613;
  font-size: 14px;
  padding-left: 15px;
  position: absolute;
  right: 0;
  margin-right: 45px;
  margin-top: -14px;
}

h2.text-t1{
  background-image: linear-gradient(to right, #2d271b, #2d221b, #2d271b, #1a1817, #1a1817, #1a1817, #161518, #141416, #141416, #141416, #141416, #141416);
  font-family: Bebas_Regular;
  text-transform: uppercase;
  color: #fff; 
  padding: 0px 10px 5px !important;  
}
h2.text-t1 span{
  background: -webkit-linear-gradient(#e4d7b2, #cc9c34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2.text-t2{
  background-image: linear-gradient(to right, #2d271b, #2d221b, #2d271b, #1a1817, #1a1817, #1a1817, #161518, #141416, #141416, #141416, #141416, #141416);
  font-family: PSL-Extra;
  text-transform: uppercase;
  color: #fff; 
  padding: 0px 10px 5px !important;  
}
h2.text-t2 span{
  background: -webkit-linear-gradient(#e4d7b2, #cc9c34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-game-box{  
  overflow: hidden;
  border: 1px solid #ffa256;
  width: 270px;
  height: 367px;
  display: block;
  margin: auto;
  background-position: center;
  background-size: 100% auto;
}  
.btn-p{ 
  top: 80%;
  position: relative;
  z-index: 99;
}
.item-game-box .x{
  height: 57px;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: rgba(0,0,0,.43);
  padding: 10px;
}




.item-game-box:after {
  content: "";
  position: absolute;
    top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */
.item-game-box:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.item-game-box:active:after {
  opacity: 0;
}

.flz{
  font-family: Bebas_Regular;
  color: #fff;
  font-size: 32px;
  margin-bottom: 0px;
}
.sup{
  margin-top: 5px;
}
.sup span{
  font-family: Bebas_Regular;
  padding: 2px 15px;
  color: #fff;
  font-size: 28px;
  background-color: #df2514;
}

.play-game{
  background-color: #1d1d1f; 
  padding: 30px 15px 0px;
}
.play-game .box{
  background-color: #151517; 
  padding: 15px;
  text-align: center;
  font-family: PSL-Extra;
  color: #fff;
  height: 230px;
  font-size: 24px;
  margin-bottom: 30px;
  
}
.play-game .box img{
  margin-top: 30px;
  z-index: 9;
  position: relative;
}

.play-game .box p{
  z-index: 9;
  position: relative;
}
.play-game .box:hover{
  background-color: rgba(21,21,23,.65);  
}
.play-game .box img:hover{
  transform: scale(1.02); 
}
.bb-btn{
  display: block;
  margin: auto;
}




.bb-btn p:hover{ 
  transform: scale(1.02);
}


.award{
  background-color: #1d1d1f; 
  padding: 30px 15px 0px;
}
.award .box{
  background-color: #151517; 
  padding: 15px;
  text-align: center;
  font-family: PSL-Extra;
  color: #fff;
  font-size: 22px; 
  margin-bottom: 30px;
}
.award .box img.img-fluid{
  height: 108px;
}
.award .box:hover{
  background-color: rgba(21,21,23,.65);  
}
.award .box img:hover{
  transform: scale(1.02); 
}



.award p.p1{  
  font-family: PSL-Extra;
  color: #fff;
  font-size: 20px; 
  margin-top: 25px;
}
.award p.p2{  
  font-family: PSL-Extra;
  color: #fff;
  font-size: 20px; 
  margin-top: 25px;
}
.award p.p1 span{  
  font-family: PSL-Extra;
  color: #25dffe;
}
.award p.p2 span{  
  font-family: PSL-Extra;
  color: #fdda2c;
}
.btn-aw{
  background-image: url(../images/btn-aw.png); 
  background-size: 140px 33px;
  width: 100%;
  max-width: 140px;
  height: 33px;
  margin: auto;
  font-family: PSL-Extra;
  color: #331907;
  font-size: 22px;
}

.btna{
  background-image: linear-gradient(to bottom, #33312a, #33312a, #32312a, #323029, #323029, #323029, #323029, #323029, #323029, #32312a, #33312a, #33312a); 
  border-radius: 4px;
  color: #fff;
  border: 1px solid #564d40;
  font-family: PSL-Extra;
  font-size: 20px;
  padding: 5px 20px;
  margin-right: 15px;
}
.btna.active{ 
  color: #fffda4; 
}
.btna:hover{ 
  color: #fffda4; 
}
.mg-box{ 
  padding-bottom: 0px !important;
}
.mg-box .box {
  margin-bottom: 30px; 
  height: 190px !important; 
}
.mg-box .box img{ 
  height: 80px; 
}

.wd-box{
  background-color: #1d1d1f; 
  padding: 30px 15px 30px;
}
.wd-box h3{
  font-family: PSL-Extra;
  color: #c7c7c7;
  font-size: 25px;
  margin-bottom: 5px;
}
.btn-aw2{
  background-image: url(../images/btn-aw.png); 
  background-size: 150px 43px;
  width: 150px;
  height: 43px; 
  font-family: PSL-Extra;
  color: #331907;
  line-height: 40px;
  font-size: 22px;
}

.wd-box select{
  background-color: #171719 !important;
  font-family: PSL-Extra;
  font-size: 22px;
  color: #fff;
  border-radius: 0px;
  border: none;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  /*direction: rtl;*/
  text-align: left;
} 

.wd-box input{
  background-color: #171719;
  font-family: PSL-Extra;
  font-size: 22px;
  color: #fff;
  border-radius: 0px;
  border: none;
  height: 45px;
}

 


.wd-box p.p1{  
  font-family: PSL-Extra;
  color: #c7c7c7;
  font-size: 25px;  
  text-align: left;
}
.wd-box p.p2{  
  font-family: PSL-Extra;
  color: #c7c7c7;
  font-size: 25px;  
  text-align: left;
}
.wd-box p.p1 span{  
  font-family: PSL-Extra;
  color: #25dffe;
}
.wd-box p.p2 span{  
  font-family: PSL-Extra;
  color: #fdda2c;
}

.wd-box .wd-box-x{
  padding: 10px;
  background-color: #171719;
  margin-bottom: 30px;
  
}

.wd-box .wd-box-x div:nth-child(1){
  font-family: PSL-Extra;
  font-size: 20px;
  color: #c7c7c7; 
} 

.wd-box .wd-box-x .p2 .x{
  font-size: 22px;
  color: #ffea84;
  padding-left: 10px;
}
.navbar-toggler{
  border-color: unset !important;
  color: unset !important; 
}
.lnr-menu{
  color: #fdda2c;
  font-size: 30px;
  float: right;
  position: absolute;
  top: 0;
  margin-top: 15px;
}

@media only screen and (max-width: 991px) { /* MOBILE */
  .btn-logout div{
    left: 0;
  } 
  .navbar .navbar-collapse .navbar-nav .nav-item p{ 
    margin-top: -45px;
  }
  .userpicM:before{ 
    margin-top: 5px; 
  }
  
  .bb-btn .bb1 p{
    background-image: url(../images/bb1.png); 
    background-size: 100% 55px;
    width: 32%;
    height: 55px;
    display: inline-block;
    margin: auto; 
  }
  .bb-btn .bb2 p{
    background-image: url(../images/bb2.png); 
    background-size: 100% 55px;
    width: 32%;
    height: 55px;
    display: inline-block; 
  }
  .bb-btn .bb3 p{  
    background-image: url(../images/bb3.png); 
    background-size: 100% 55px;
    width: 32%;
    height: 55px;  
    display: inline-block;
    margin: auto; 
  }
  .bb-btn p{
    font-family: PSL-Omyim;
    text-shadow: -1px 0 #ffff05, 0 1px #ffff05, 1px 0 #ffff05, 0 -1px #ffff05;
    color: #bb2601;
    font-size: 20px; 
    line-height: 55px;
  }
  h2.text-t2{ 
    font-size: 36px; 
  }
  h2.text-t2{ 
    font-size: 36px; 
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .navbar .navbar-collapse .navbar-nav .nav-item p{ 
    top: 0; 
    margin-top: 15px;
  }
  .userpicM:before{ 
    margin-top: 5px;
    top: 0;
  }
  .wd-box .wd-box-x div:nth-child(1){ 
    padding-left: 60px;
  } 
  .bb-btn .bb1 p{
    background-image: url(../images/bb1.png); 
    background-size: 197px 65px;
    width: 197px;
    height: 65px;
    display: inline-block;
    margin: auto;
    margin-right: -20px;
  }
  .bb-btn .bb2 p{
    background-image: url(../images/bb2.png); 
    background-size: 166px 65px;
    width: 166px;
    height: 65px;
    display: inline-block;
    margin: auto;
  }
  .bb-btn .bb3 p{  
    background-image: url(../images/bb3.png); 
    background-size: 197px 65px;
    width: 197px;
    height: 65px;  
    display: inline-block;-
    margin: auto;
    margin-left: -20px;
  }
  .bb-btn p{
    font-family: PSL-Omyim;
    text-shadow: -1px 0 #ffff05, 0 1px #ffff05, 1px 0 #ffff05, 0 -1px #ffff05;
    color: #bb2601;
    font-size: 32px; 
    line-height: 60px;
  }
  h2.text-t2{ 
    font-size: 60px; 
  }
  h2.text-t2{ 
    font-size: 60px; 
  }
}
@media only screen and (width: 768px) { /* IPAD */
  .btn-logout div{
    left: 0;
  } 
  .wd-box .wd-box-x div:nth-child(1){ 
    padding-left: 60px;
  } 
  
  .play-gamex:after{
    content: "";
    position: absolute;
    top: 0;
    background-image: url(../images/cc.png); 
    background-size: 595px 340px;
    width: 595px;
    height: 340px;
    margin: auto;
    display: block;
    left: 24.8%;
    z-index: 1;
    overflow: hidden !important;
  }
}
@media only screen and (width: 1024px) { /* IPAD PRO */
  .btn-logout div{
    left: 0;
  } 
  .navbar .navbar-collapse .navbar-nav .nav-item p{ 
    margin-top: -45px !important;
    top: unset;
  }
  .userpicM:before{ 
    margin-top: -4px !important; 
    top: unset;
  }
}